@tailwind base;
@tailwind components;
@tailwind utilities;


:root {

  color-scheme: light dark;

  --primary:  light-dark(#ffffff,#000000);
  --secondary: light-dark(#000000,#ffffff);
  --tertiary: #9c9c9c;

  --font-amita: "Amita", sans-serif;
  --font-gotu: "Gotu", sans-serif;
}

.light {
  color-scheme: light;
}
.dark {
  color-scheme: dark;
}

